<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.BusinessConstructionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.entity.BusinessConstruction">
        <id column="construction_code" property="constructionCode" />
        <result column="construction_name" property="constructionName" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="build_content" property="buildContent" />
        <result column="four_range" property="fourRange" />
        <result column="construction_purpose" property="constructionPurpose" />
        <result column="manage_depart" property="manageDepart" />
        <result column="construction_scale" property="constructionScale" />
        <result column="construction_invest" property="constructionInvest" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="image_url" property="imageUrl" />
        <result column="finish_time" property="finishTime" />
        <result column="inside_time" property="insideTime" />
        <result column="initial_time" property="initialTime" />
        <result column="final_time" property="finalTime" />
        <result column="pm" property="pm" />
        <result column="engin_pm" property="enginPm" />
        <result column="build_unit" property="buildUnit" />
        <result column="construction_unit" property="constructionUnit" />
        <result column="supervise_unit" property="superviseUnit" />
        <result column="finance_unit" property="financeUnit" />
    </resultMap>

</mapper>
