<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.BusinessTenderApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.entity.BusinessTenderApply">
        <id column="id" property="id" />
        <result column="ini_depart" property="iniDepart" />
        <result column="tender_code" property="tenderCode" />
        <result column="purchase_item" property="purchaseItem" />
        <result column="purchase_content" property="purchaseContent" />
        <result column="purchase_money" property="purchaseMoney" />
        <result column="purchase_resource" property="purchaseResource" />
        <result column="purchase_way" property="purchaseWay" />
        <result column="supply_resource" property="supplyResource" />
        <result column="init_depart_operator" property="initDepartOperator" />
        <result column="init_depart_manager" property="initDepartManager" />
        <result column="plan_depart_operator" property="planDepartOperator" />
        <result column="plan_depart_manager" property="planDepartManager" />
        <result column="finance_depart" property="financeDepart" />
        <result column="init_depart_head" property="initDepartHead" />
        <result column="plan_depart_head" property="planDepartHead" />
        <result column="general_manager" property="generalManager" />
        <result column="purchase_time" property="purchaseTime" />
        <result column="supply_name" property="supplyName" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
