<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.WorkflowHistoryInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.entity.WorkflowHistoryInfo">
        <id column="id" property="id" />
        <result column="construction_code" property="constructionCode" />
        <result column="construction_name" property="constructionName" />
        <result column="workflow_code" property="workflowCode" />
        <result column="workflow_node_code" property="workflowNodeCode" />
        <result column="workflow_status" property="workflowStatus" />
        <result column="node_desc" property="nodeDesc" />
        <result column="node_name" property="nodeName" />
        <result column="inside_time" property="insideTime" />
        <result column="final_time" property="finalTime" />
        <result column="finish_time" property="finishTime" />
        <result column="approval_user_id" property="approvalUserId" />
        <result column="approval_user_name" property="approvalUserName" />
    </resultMap>

</mapper>
