<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.WorkflowRealTaskProgressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.entity.WorkflowRealTaskProgress">
        <id column="id" property="id" />
        <result column="sheet_code" property="sheetCode" />
        <result column="construction_code" property="constructionCode" />
        <result column="workflow_code" property="workflowCode" />
        <result column="node_code" property="nodeCode" />
        <result column="task_code" property="taskCode" />
        <result column="task_name" property="taskName" />
        <result column="description" property="description" />
        <result column="initial_time" property="initialTime" />
        <result column="final_time" property="finalTime" />
        <result column="finish_time" property="finishTime" />
        <result column="inside_time" property="insideTime" />
        <result column="finish_user_id" property="finishUserId" />
        <result column="finish_user_name" property="finishUserName" />
        <result column="have_ramification" property="haveRamification" />
        <result column="ramific_sheet_code" property="ramificSheetCode" />
        <result column="ramific_workflow_id" property="ramificWorkflowId" />
        <result column="need_files" property="needFiles" />
        <result column="is_necessary" property="isNecessary" />
        <result column="status" property="status" />
        <result column="type" property="type" />
        <result column="construction_name" property="constructionName" />
        <result column="on_used" property="onUsed" />
    </resultMap>

</mapper>
